<div id="election">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--11-col">
          <div class="header">
            <p>
              <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
              <small class="header-title">Election</small>
            </p>
            <small class="subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</small>
            <hr>
          </div>
        </div>
    </div>
  <!-- end of mdl-grid -->
    <router-outlet></router-outlet>
</div>
