<div id="background-image">
  <div id="cover">
    <div class="mdl-grid">
      <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
          <div class="login-body">
              <div class="logo">
                <p><i class="fa fa-handshake-o"></i></p>
                <h3 class="h3">Student Government Voting System</h3>
              </div>
              <!-- end of logo -->
              <div class="login" [formGroup]="form">
                <div class="login-label">
                  <label>Student ID </label>
                </div>
                <!-- end of login-label -->
                <mdl-textfield
                  type="text"
                  label=""
                  formControlName="userID"
                  autofocus></mdl-textfield>

                  <!-- <button mdl-button (click)="goTO()">
                     Gmail
                  </button> -->
                  <!-- <a href="http://localhost:3000/auth/google">Gmail</a> -->
                  <!-- <a href="{{apiUrl}}/auth/google">Gmail</a> -->
                  <button mdl-button *ngIf="!userID.dirty">
                     <a href="{{apiUrl}}/auth/google">
                       <i class="fa fa-google-plus"></i> Sign in
                     </a>
                  </button>
                  <button mdl-button (click)="goTO()" *ngIf="userID.dirty">
                      Sign in
                  </button>
              </div>
              <!-- end of login -->
          </div>
          <!-- end of login-body -->
        </div>
      <div class="mdl-layout-spacer"></div>
    </div>
    <!-- end of mdl-grid -->
  </div>
</div>
