<div id="background-image">
  <div id="cover">
    <div class="mdl-grid">
      <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
          <div class="login-body">
              <div class="logo">
                <p><i class="fa fa-handshake-o"></i></p>
                <h3 class="h3">Student Government Voting System</h3>
              </div>
              <!-- end of logo -->
              <div class="login">
                <div class="login-label">
                  <label>Student ID </label>
                </div>
                <!-- end of login-label -->
                <mdl-textfield
                  type="text"
                  label=""
                  autofocus></mdl-textfield>

                  <button mdl-button>
                     SIGN IN
                  </button>
              </div>
              <!-- end of login -->
          </div>
          <!-- end of login-body -->
        </div>
      <div class="mdl-layout-spacer"></div>
    </div>
    <!-- end of mdl-grid -->
  </div>
</div>
