<div id="background-image">
  <div id="cover">
    <div class="mdl-grid">
      <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
          <div class="login-body">
              <div class="logo">
                <p><i class="fa fa-handshake-o"></i></p>
                <h3 class="h3">Student Government Voting System</h3>
              </div>
              <!-- end of logo -->
              <div class="login">
                <form [formGroup]="form"
                      (submit)="signIn($event, form.value)"
                      novalidate>
                      <div class="login-label">
                        <label>Username </label>
                      </div>
                      <!-- end of login-label -->
                      <mdl-textfield
                        type="text"
                        label=""
                        formControlName="username"
                        autofocus></mdl-textfield>

                      <div class="login-label">
                        <label>Password </label>
                      </div>

                      <mdl-textfield
                        type="password"
                        label=""
                        formControlName="password"
                        autofocus></mdl-textfield>
                        <button mdl-button
                                *ngIf="!username.valid && !password.valid">
                                 <a href="{{apiUrl}}/auth/google">
                                   <i class="fa fa-google-plus"></i> Sign in
                                 </a>
                        </button>
                        <button mdl-button type="submit"
                                *ngIf="username.valid || password.valid"> Sign in
                        </button>
                </form>
                <app-alert-message [errorType]="errorType"></app-alert-message>

              </div>
              <!-- end of login -->
          </div>
          <!-- end of login-body -->
        </div>
      <div class="mdl-layout-spacer"></div>
    </div>
    <!-- end of mdl-grid -->
  </div>
</div>
