<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
      <div id ="department-college" class="mdl-cell mdl-cell--6-col mdl-cell--5-col-tablet mdl-cell--4-col-phone">
        <div class="header">
          <p>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <small class="header-title">Position</small>
          </p>
          <small class="subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</small>
          <hr>
        </div>
        <!-- end of header -->
        <div class="mdl-grid">
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-cell mdl-cell--6-col mdl-cell--3-col-phone">
            <div class="position-table">
              <table class="mdl-data-table mdl-js-data-table">
                <thead>
                  <tr>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <th>
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">President</td>
                    <td>
                      <i class="fa fa-pencil edit"></i>
                      <i class="fa fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Vice President</td>
                    <td>
                      <i class="fa fa-pencil edit"></i>
                      <i class="fa fa-trash"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">Secretary</td>
                    <td>
                      <i class="fa fa-pencil edit"></i>
                      <i class="fa fa-trash"></i>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <!-- college-table -->
          </div>
          <div class="mdl-layout-spacer"></div>
        </div>
      </div>
      <!-- end of position-college -->
    <div class="mdl-layout-spacer"></div>
</div>
