<div id="collage">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--11-col">
          <div class="header">
            <p>
              <i class="fa fa-building-o" aria-hidden="true"></i>
              <small class="header-title">Department</small>
            </p>
            <small class="subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</small>
            <hr>
          </div>
        </div>
    </div>
  <!-- end of mdl-grid -->
    <div class="mdl-grid">
      <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--10-col">

          <div class="search">
            <span class="fa fa-search"></span>
            <input type="text" placeholder="Search ...">
            <button mdl-button mdl-button-type="raised"
                    class="btn-add">
                    <i class="fa fa-plus"></i>
                    Add Department
            </button>
          </div>

          <div class="college-table">
            <table class="mdl-data-table mdl-js-data-table">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Name</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Programmer</td>
                  <td>
                    <button mdl-button mdl-button-type="raised"
                            class="btn-edit">Edit
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Programmer</td>
                  <td>
                    <button mdl-button mdl-button-type="raised"
                            class="btn-edit">Edit
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Programmer</td>
                  <td>
                    <button mdl-button mdl-button-type="raised"
                            class="btn-edit">Edit
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Programmer</td>
                  <td>
                    <button mdl-button mdl-button-type="raised"
                            class="btn-edit">Edit
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Programmer</td>
                  <td>
                    <button mdl-button mdl-button-type="raised">Edit
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- book-table -->
        </div>
      <div class="mdl-layout-spacer"></div>
    </div>
  <!-- end of mdl-grid -->
</div>
