<div id="officer-tabs">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="header">
        <h3>Officers</h3>
        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</small>

      </div>
      <!-- end of header -->
      <ul class="tab-rows">
        <li>Colleges</li>
        <li>Departments</li>
        <li class="selected">Register</li>
      </ul>
      <!-- end of tab-rows -->
    </div>
  </div>
  <!-- end of mdl-grid -->
</div>
