<div id="new-election">
  <div class="mdl-grid">
    <!-- <div class="mdl-layout-spacer"></div> -->
      <div class="mdl-cell mdl-cell--12-col">

        <div class="officer">
          <div class="mdl-grid container">
            <div class="mdl-cell mdl-cell--5-col mdl-cell--4-col-tablet mdl-cell--3-col-phone mdl-cell--bottom">
              <h5 class="info-header">Type</h5>
              <form>
                <mdl-select id="opt" label="College">
                  <mdl-option>College</mdl-option>
                  <mdl-option>Department</mdl-option>
                </mdl-select>
              </form>

            </div>
          </div>
          <!-- end of mdl-grid -->

          <div class="mdl-grid container">
            <div class="mdl-cell mdl-cell--5-col mdl-cell--4-col-tablet mdl-cell--3-col-phone mdl-cell--bottom">
              <form>
                <mdl-select id="opt" label="Engineer">
                  <mdl-option>Teachers</mdl-option>
                  <mdl-option>Technology</mdl-option>
                </mdl-select>
              </form>

            </div>
          </div>
          <!-- end of mdl-grid  -->
          <div class="mdl-grid container">
            <div class="mdl-cell mdl-cell--5-col col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
              <h5 class="info-header">Date</h5>
              <mdl-icon class="event" (click)="pickADate($event)">event</mdl-icon>
            </div>
          </div>
          <!-- end of mdl-grid -->
          <div class="mdl-grid container">
            <div class="mdl-cell mdl-cell--5-col">
              <h5 class="info-header">
                School Year: <small class="sy">2018-2019</small>
              </h5>
            </div>
          </div>
          <!-- end of mdl-grid -->
          <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell--3-col col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                <button mdl-button mdl-button-type="raised"
                        class="btn-save">Save
                </button>
            </div>
            <div class="mdl-layout-spacer"></div>
          </div>
        </div>
        <!-- end of officer -->

      </div>
    <!-- <div class="mdl-layout-spacer"></div> -->
  </div>
<!-- end of mdl-grid -->
</div>
<dialog-outlet></dialog-outlet>
