<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
      <div id ="student-register" class="mdl-cell mdl-cell--6-col mdl-cell--5-col-tablet mdl-cell--4-col-phone">
          <div class="header">
            <p>
              <i class="fa fa-handshake-o" aria-hidden="true"></i>
              <small class="header-title">Register</small>
            </p>
            <small class="subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</small>
            <hr>
          </div>
          <!-- end of header -->

          <div class="officer">
            <div class="mdl-grid container">
              <div id="loginCredential" class="mdl-cell mdl-cell--10-col mdl-cell--7-col-tablet mdl-cell--3-col-phone mdl-cell--bottom">
                <h5 class="info-header">Login Credential</h5>

                <div class="user-box">
                  <p>
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                  </p>
                </div>
                <!-- end of user-box -->
                <mdl-textfield type="text" label="ID Number" floating-label></mdl-textfield>
              </div>
            </div>
            <!-- end of mdl-grid -->

            <div class="mdl-grid container">
              <div id="PersonalInfo" class="mdl-cell mdl-cell--3-col col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                <h5 class="info-header">Personal Info</h5>
                <mdl-textfield type="text" label="First Name" floating-label></mdl-textfield>
              </div>
              <div class="mdl-cell mdl-cell--3-col mdl-cell--bottom mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                <mdl-textfield type="text" label="Last Name" floating-label></mdl-textfield>
              </div>
              <div class="mdl-cell mdl-cell--3-col mdl-cell--bottom mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                <mdl-textfield type="text" label="Middle Name" floating-label></mdl-textfield>
              </div>
            </div>
            <!-- end of mdl-grid  -->
            <div class="mdl-grid container">
              <div class="mdl-cell mdl-cell--3-col col mdl-cell--bottom mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                <h5 class="info-header">Address</h5>
                <mdl-textfield type="text" label="Street" floating-label></mdl-textfield>
              </div>
              <div class="mdl-cell mdl-cell--3-col mdl-cell--bottom mdl-cell--bottom mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                <mdl-textfield type="text" label="Barangay" floating-label></mdl-textfield>
              </div>
              <div class="mdl-cell mdl-cell--3-col mdl-cell--bottom mdl-cell--bottom mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                <mdl-textfield type="text" label="City" floating-label></mdl-textfield>
              </div>
            </div>
            <!-- end of mdl-grid  -->
            <div class="mdl-grid container">
              <div class="mdl-cell mdl-cell--4-col col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
                <h5 class="info-header">Gender</h5>
                <form>
                  <mdl-select id="opt" label="Male">
                    <mdl-option>Male</mdl-option>
                    <mdl-option>Female</mdl-option>
                  </mdl-select>
                </form>
              </div>
            </div>
            <!-- end of mdl-grid -->
            <div class="mdl-grid container">
              <div class="mdl-cell mdl-cell--4-col col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
                <h5 class="info-header">College</h5>
                <form>
                  <mdl-select id="opt" label="College">
                    <mdl-option>CIIT</mdl-option>
                    <mdl-option>Engeneering</mdl-option>
                    <mdl-option>Education</mdl-option>
                  </mdl-select>
                </form>
              </div>
            </div>
            <!-- end of mdl-grid -->
            <div class="mdl-grid container">
              <div class="mdl-cell mdl-cell--4-col col mdl-cell--3-col-tablet mdl-cell--2-col-phone">
                <h5 class="info-header">Department</h5>
                <form>
                  <mdl-select id="opt" label="CEA">
                    <mdl-option>CEA</mdl-option>
                    <mdl-option>Architecture</mdl-option>
                    <mdl-option>Civil Engineering</mdl-option>
                  </mdl-select>
                </form>
              </div>
            </div>
            <!-- end of mdl-grid -->
            <div class="mdl-grid">
              <div class="mdl-layout-spacer"></div>
              <div class="mdl-cell--3-col col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                  <button mdl-button mdl-button-type="raised"
                          class="btn-save">Save
                  </button>
              </div>
              <div class="mdl-layout-spacer"></div>
            </div>
          </div>
          <!-- end of officer -->
      </div>
      <!-- end of register -->
    <div class="mdl-layout-spacer"></div>
</div>
