<div id="votepage">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-grid container">
        <div class="mdl-cell mdl-cell--3-col">
          <div class="header">
            <p>
              <i class="fa fa-handshake-o" aria-hidden="true"></i>
              <small class="header-title">Student Government Voting System</small>
            </p>
          </div>
        </div>
        <!-- end of header -->
      </div>
      <!-- end of mdl-grid -->
    </div>

    <div class="mdl-grid">
      <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--12-col">
          <div class="subHeader">
            <h3>Bachelor of Science in Information Technology</h3>
            <h4>Election S.Y 2018 - 2019</h4>
          </div>
          <!-- end of subHeader -->
        </div>
      <div class="mdl-layout-spacer"></div>
    </div>
    <!-- end of mdl-grid -->


  </div>
  <!-- end of mdl-grid -->
  <div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
      <div class="mdl-cell mdl-cell--6-col votePage">

      </div>
    <div class="mdl-layout-spacer"></div>
  </div>

</div>
<!-- end of votepage -->
